.hero-img {
    background: url(../image/hero-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.hero h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    padding: 88px 24px;
    margin: 0px;
}
@media screen and (min-width: 768px) {
    .hero-img {
        background: url(../image/hero-tablet.jpg) no-repeat;
        height: 620px;
        background-size: cover;
    }

    .hero h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: var(--text-weight);
        font-size: 32px;
        padding: 88px 60px;
    }
}
    

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url(../image/hero-desktop.jpg) no-repeat;
        height: 620px;
        background-size: cover;
    }
    .hero h2 {
        padding: 104px 120px;
    }

}