* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;

}

/* minhas customizacoes */
:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #0000;

    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}


h1 {
    color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: var(--title-weight);
}